.container{
    overflow: hidden;
}
.container_img{
    transform: scale(1);
    transition: 0.3s ease-in-out;
    
}

.container_img:hover{
    transform: scale(1.5);
    border-bottom: 30px solid steelblue;
}