.summonerStatsWarp{
    background: url('https://lolstatic-a.akamaihd.net/rso-login-page/3.1.5/assets/riot_desktop_background_2x.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
