.appnavWrapper{
    width: 500px;
}
.css-38rot4-MuiTypography-root{
    margin-bottom: 44px !important;
}
@media (max-width: 425px) {
    .appnavWrapper{
        width: 190px;
    }
    .css-38rot4-MuiTypography-root{
        margin-bottom: 160px !important;
    }
}